/* nav */

  .nav-bar::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background: #1E1916;
}

.navbar-light .navbar-nav .nav-link {
    padding: 30px 15px;
    color: #333333;
    font-size: 17px;
    font-weight: 500;
    outline: none;
  }
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link.active {
    color: #EAA636 ;
  }
  

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }

/* second nav css */

/* slider */
.rounded {
    border-radius: 8rem !important;
}

.carousel-indicators [data-bs-target] {
   height: 50px;
}

.carousel-indicators .active {
    background-color: #EAA636 !important;
}

/* about us */
.btn-primary {
    background-color: #EAA636 !important;
    border: none;
}

.text-primary {
    color:#EAA636 !important;
}

/* formaly about sec css */
.fadeInUp {
    opacity: 0;
    animation: fadeInUp 1s ease-in-out forwards;
}

.fadeInUp.delay-0-1s {
    animation-delay: 0.1s;
}

.fadeInUp.delay-0-5s {
    animation-delay: 0.5s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.img-twice .col-6 img {
    margin-bottom: 1rem;
}

.img-twice .col-6:last-child img {
    margin-bottom: 0;
}

/* products */
.product-carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1rem;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;
}

.product-item {
    flex: 0 0 auto;
    scroll-snap-align: center;
    background-color: #f8f9fa;
}

.product-item img {
    object-fit: cover;
}

@media (max-width: 768px) {
    .product-item {
        flex: 0 0 calc(100% - 1rem);
    }
}

@media (min-width: 769px) {
    .product-item {
        flex: 0 0 calc(33.3333% - 1rem);
    }
}

.bg-primary {
    /* --bs-bg-opacity: 1; */
    background-color: none !important;
}

.btn-secondary {
    background-color: #EAA636 !important;
    border: none;
}

 
/* footer */
.btn-social {
    width: 45px;
    height: 45px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    border-radius: 45px;
}